body {background-color: rgb(128, 191, 255);
font-family: Arial, Verdana, sans-serif;}

@font-face {font-family: Signature;
  src: url("Bentho.ttf");}

h1 {font-family: Signature;
color: rgb(237, 179, 157);
margin: 10px;
font-size: 60px;
text-align: center;
}

h2 {font-family: Signature;
color: rgb(237, 179, 157);
margin: 10px;
font-size: 30px
}

p {
color: rgb(255,255,255);
}

li {
color: rgb(255,255,255);
}

a {
  color: rgb(64,242,255);
  text-decoration: none;
}

a:hover {text-decoration: underline;
  color: rgb(64,242,255);
}
