body {background-color: rgb(221, 170, 255);
font-family: Arial, Verdana, sans-serif;}

@font-face {font-family: Signature;
  src: url("Moonbright Demo.ttf");}

h1 {font-family: Signature;
color: rgb(240, 208, 161);
margin: 10px;
font-size: 90px;
text-align: center;
}

h2 {font-family: Signature;
color: rgb(240, 208, 161);
margin: 10px;
font-size: 50px
}

p {
color: rgb(255,255,255);
}

li {
color: rgb(255,255,255);
}

a {
  color: rgb(240, 208, 161);
  text-decoration: none;
}

a:hover {text-decoration: underline;
  color: rgb(128, 223, 255);
}

.col-container {
margin-top: 20px;
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.left-col {
}

.right-col {
padding-left: 20px;
padding-bottom: 20px;
}

.image-resize {
  max-width: 100%;
  height: auto;
}
