
/* reset all padding and margins */
* {
  padding: 0px;
  margin: 0px;
}

.nav-container {
  width: 100%;
  background-color: blue;
  padding: 40px;
  text-align: center;
  color: white;
}

.col-container {
margin-top: 20px;
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.left-col {
background-color: purple;
padding: 20px;
}

.right-col {
background-color: orange;
padding: 20px;
}
